<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome to tech world{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <h1>My Site</h1>
        </nav>
    </header>
    
    <main>
        Welcome {{request.user}}
        <a href="/logout">Logout</a>
    </main>
    
    <footer>
        <p>&copy; 2024. All rights reserved.</p>
    </footer>
</body>
</html>